body{
    background-image:url('../img/back.png') ;
    margin: 0px;
}

.container{
    width: 90% !important;
    margin-top: 70px !important;
}

#rodape{
    bottom: 0.1%;
    width: 100%;
    position: absolute;
    left: 0%;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

#titulo_login{
    font-size: 50px;
    margin-top: 9%;
}

#textoRodape{
    position: relative;
    top: 5px;
    bottom: 5px;
    right: 0px;
}

h1 {
    color: rgb(252, 252, 252);
    font-size: 45px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    color:whitesmoke;
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 14px;
}

#grid_login{
    width: 36%;
    position: relative;
    left: 32%;
    right: 32%;
    margin-top: 5%;
    border-style: double;
    border-color: #0000002e;
    border-radius: 20px;
}

#panel_dadosLogin{
    height: 15em;
}

#campos_login {
    font-size: 24px;
    width: 80%;
    position: relative;    
    top: 15px;
    left: 10%;
    right: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

#campos_login input {
    position: absolute;
    width: 100%;
    height: 30%;
    border-style: double;
    border-color: #52204e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.botao_abrir_modal_cadastro_cliente{
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.botao_cor{
    background-color: #75376a;
    border-style: double;
    border-color: #52204e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    border-radius: 14px;
}

.botao_login{
    position: relative;
    top: 66px;
    left: 20%;
    right: 20%;
    width: 60%;
    height: 35px;
    font-size: 24px;
}

.botao_cor:hover{
    background-color: #52204e;
}

.alerta_senhaLogin{
    color: red;
    position: absolute;
    left: 11%;
    top: 102%;
    width: 78%;
    font-size: 80%;
    text-align: center;
}

.dropdown, .dropup {
    /* position: absolute !important; */
    right: 0% !important;
    float: right;
    max-width: 150px; 
}

.dropbtn {
    background-color: #75376a;
    color: white;
    height: 100%;
    font-size: 24px;
    width: 100%;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown {
    position: relative;
    width: 30%;
    display: inline-block;   
    height: inherit;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropbtn:hover {background-color: #52204e;}

.dropdown-content a:hover {background-color: #ddd;     text-decoration: black;}

/* .dropdown:hover .dropdown-content {display: block;} */

.dropdown:hover .dropbtn {background-color: #52204e;}

#cabecalho{
    position: absolute;
    top: 0%;
    background-color: #75376a;
    width: 100%;
    right: 0%;
    height: 70px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    cursor: pointer;
}

#textocabecalho{
    position: relative;
    top: 9px;
    left: 10%;
    color: rgb(252, 252, 252);
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}


#menuSuperior {
    margin-top: 100px;
    background: whitesmoke;
    width: 100%;
    height: 50px;
    border-style: double;
    border-color: #75376a;
}

.itemMenuSuperior{
    position: relative;
    left: 4px;
    width: 16.4%;
    margin-top: 5px;
    background-color:  rgb(252, 252, 252);
    height: 40px;
    display: inline-block;
    text-align: center;
}

.textoMenuSuperior{
    position: relative;
    top: 5px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(70, 70, 70);
}

.itemMenuSuperior :hover{
    background-color:  rgb(185, 185, 185);
}

.panelPrincipal{
    margin-top: 50px;
    width: 80%;
    position: relative;
    right: 10%;
    left: 10%;
    height: auto;
    border-radius: 10px;
    background: whitesmoke;
    border-style: double;
    border-color: #75376a;
}

#tituloPanelPrincipal{
    width: 70%;
    color: #75376a;
    font-size: 30px;
    position: relative;
    left: 5%;
    right: 65%;
}

#valorCaixa{
    width: 50%;
    color: #75376a;
    font-size: 25px;
    position: absolute;
    bottom: 2%;
    left: 5%;
}

.botaoFecharCaixa{
    width: 30%;
    position: absolute;
    bottom: 2%;
    right: 5%;
    height: 35px;
    font-size: 25px;
}

#form-cadastro{
    width: 80%;
    height: auto;
    margin: 3% 10%;
}

.form-cadastro-inputText{
    width: 100%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-cadastro-inputSelectMenu{
    font-size: 16px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tabela-visualizacao{
    width: 100%;
    margin: 3% 0% 10% 0%;
}

.botao-caixa{
    width: 48%;
    border: 1px solid black;
    margin-bottom: 1%;
}


table.padraoTable {
    position: relative;
    left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    text-align: left;
    border-collapse: collapse;
}
table.padraoTable td, table.padraoTable th {
    border: 1px solid white;
    padding: 3px 2px;
}
table.padraoTable tbody td {
    font-size: 13px;
}
table.padraoTable thead {
    background: #75376a;
    border-bottom: 2px solid #000000;
}
table.padraoTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: rgb(240, 240, 240);
    text-align: center;
    border-left: 2px solid rgb(0, 0, 0);
}
table.padraoTable thead th:first-child {
    border-left: none;
}

table.padraoTable tfoot td {
    font-size: 14px;
}
table.padraoTable tfoot .links {
    text-align: right;
}

#coluna-acao{
    width: 17%;
}

#conteudo-caixa {
    position: relative;
    left: 5%;
    color: #75376a;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}